// reset
@import "reset";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f7f9fc;
  display: flex;
  justify-content: center;
}

.menu-card {
  position: absolute;

  left: 10%;
  right: 10%;
  top: 149px;

  width: 80%;
  height: 70%;

  background: #ffff;

  .select-item-card {
    position: absolute;
    width: 238px;
    height: 55px;
    left: 7%;
    top: 9%;

    background: #f7f9fc;
    border-radius: 3px;

    .personel-item {
      position: absolute;
      width: 65px;
      height: 28px;
      left: 25px;
      top: 13px;

      font-family: Mulish;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
      /* identical to box height */

      color: #34426c;
    }
    .business-item {
      position: absolute;
      width: 116px;
      height: 41px;
      right: 7px;
      top: 7px;
      color: #34426c;
      background: #ffffff;
    }
    .business-item > p {
      position: absolute;

      right: 27px;
      top: 7px;

      font-family: Mulish;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 28px;
    }
  }
  .close-item {
    position: absolute;
    width: 48px;
    height: 48px;
    right: 45px;
    top: 60px;
    border-radius: 50%;

    background: #f7f9fc;
  }
  .close-item > p {
    position: absolute;
    top: 10px;
    left: 14px;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
  }

  .catagories-menu {
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    left: 92px;
    right: 92px;
    top: 234px;
  }
}
