// reset
@import "reset";

body {
  background: #f7f9fc;
  display: flex;
  justify-content: center;
}

.menu-card {
  position: absolute;
  left: 10%;
  right: 10%;
  top: 149px;

  width: 80%;
  height: 70%;

  background: #ffff;

  .select-item-card {
    position: absolute;
    width: 238px;
    height: 55px;
    left: 7%;
    top: 9%;

    background: #f7f9fc;
    border-radius: 3px;
  }
}
