// reset
@import "reset";
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap%22);
body {
  background: #efc1e5;
}
.card {
  position: relative;
  width: 451px;
  height: 648px;

  background: #ffffff;
  box-shadow: 0px 15px 45px -25px rgba(1, 39, 97, 0.19);
  border-radius: 10px;
  .header {
    position: absolute;
    top: 45px;
    left: 45px;
    width: 140px;
    height: 26px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: #181b2e;
    /* identical to box height */
  }
  .close-tag {
    position: absolute;
    top: 36px;
    right: 45px;
    width: 44px;
    height: 44px;
    font-family: Roboto;
    font-style: normal;
    font-size: 30px;
  }
  .search {
    position: absolute;
    top: 107px;
    left: 45px;

    width: 361px;
    height: 76px;

    background: #f4f6fa;
    border: 1px solid #dee5f0;
    box-sizing: border-box;
    input {
      position: absolute;
      top: 28px;
      left: 69px;

      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      background-color: #f4f6fa;
      color: #415f8c;

      opacity: 0.6;
    }
  }
  .items-header {
    position: absolute;
    left: 45px;
    top: 218px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    /* identical to box height */

    letter-spacing: 0.105em;
    text-transform: uppercase;

    color: #000000;
  }
}
